<a href="https://colab.research.google.com/github/mlogotheti/Scraping-03-20/blob/master/Web_scraping_05_03_2020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Web scraping 05-03-2020**

In [1]:
from datetime import datetime
print("last update:", '{}'.format(datetime.now()))

last update: 2020-03-05 14:48:31.426713

In [0]:
from bs4 import BeautifulSoup
import requests
import numpy as np
import re
import pandas as pd
# from tqdm import tqdm _notebook

In [0]:
def extract_books_from_result(soup):
    returner = {'books': [], 'authors': []}
    for book in soup.find_all('div', attrs={'class':'cmp-text text'}):
        try:
            text = book.text
            pattern = re.compile(r'(?<=. ).+(?=\n)')
            appender = re.findall(pattern,text)[0].split(' by')
            
            if len(appender) > 1:
                returner['books'].append(appender[0])
                returner['authors'].append(appender[1])
                
        except:
            None
            
    returner_df = pd.DataFrame(returner, columns=['books','authors']) 
    
    return returner_df

In [0]:
url = 'https://www.penguin.co.uk/articles/2018/100-must-read-classic-books/'
r = requests.get(url)
soup = BeautifulSoup(r.text,'html.parser')
results = extract_books_from_result(soup)

In [5]:
results

                                        books                   authors
0                       To Kill a Mockingbird               Harper Lee
1               One Hundred Years of Solitude   Gabriel García Márquez
2                               In Cold Blood             Truman Capote
3                           Wide Sargasso Sea                 Jean Rhys
4                             Brave New World             Aldous Huxley
..                                        ...                       ...
93     One Day in the Life of Ivan Denisovich    Alexander Solzhenitsyn
94                           What A Carve Up!              Jonathan Coe
95  Zen and the Art of Motorcycle Maintenance             Robert Pirsig
96                               White Nights        Fyodor Dostoyevsky
97                                 Hard Times           Charles Dickens

[98 rows x 2 columns]